body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fce4f5;
    color: #4a235a;
    text-align: center;
}

header,
nav,
main,
footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


header {
    background-color: #e89ac7;
    padding: 3rem 1rem;
    margin-top: 0rem;
}

header h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

nav {
    padding: 4rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

nav a {
    color: #8e44ad;
    text-decoration: none;
    font-size: 34px;
}

nav a:hover {
    color: #56266b;
    text-decoration: none;
}

main {
    padding: 1rem 0;
}

section {
    background-color: rgba(255, 255, 255, 0.466);
    padding: 2rem;
    margin: 1.5rem 0;
    border-radius: 1rem;
}

h2 {
    color: #8e44ad;
    font-size: 1.8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1.5rem;
}

.card {
    background-color: #f6c5e0;
    border: 3px solid #d982bb;
    border-radius: 9px;
    padding: 2px 1rem;
    transition: 0.3s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.card h3 {
    color: #762b83;
    font-size: 1.30rem;
}

.card:hover {
    background-color: #e89ac7;
    transform: scale(1.03);
}

footer {
    background-color: #e89ac7;
    color: white;
    padding: 1.5rem;
    margin-bottom: 0rem;
    border-radius: 0 0 1rem 1rem;
}

@media (max-width: 40rem) {

    .grid {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    header h1 {
        font-size: 2rem;
    }
}
